#container {
    height: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid;
    border-color: blue;
    border-width: 40px;
    border-radius: 30px;
}

h2 {
    text-align: center;
}

button {
    position: relative;
}

#reset {
    margin-left: 5px;
    margin-right: 5px;
}

#grid_squares {
    float: left;
    width: 6px;
    height: 6px;
}

.buttons {
	height: 30px;
	width: 158px;
	margin-right: auto;
	margin-left: auto;

}
